@(title: String, sessionValues: SessionValues)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<h1>
    		<a href="@routes.Application.index()">Up Your Mood</a>
    	</h1>
    	<ul id="menu">
    		<li class="sous_menu"><a href="@routes.Application.index()">Accueil</a></li>
    		<li class="sous_menu"><a href="@routes.ControlUser.index()">Inscription</a></li>
    	</ul>
    	@if(!sessionValues.isConnected()){
    	<form method="post">
	    	<fieldset>
		   		<label for="pseudo">Pseudo:</label>
		       <input type="text" name="pseudo" id="pseudo" />*
		       <br>
		       <label for="mdp">Mot de passe:</label>
		       <input type="password" name="mdp" id="mdp" />*
		       <br>
		   </fieldset>
		   <input type="submit" value="Connexion" />
		</form>
		}else{
			<form method="post">
		  	 <input type="submit" value="Deconnexion" />
		  	 <a href="@routes.ControlProfil.index()">@sessionValues.getPseudo()</a>
			</form>
		}
        @content
        <div id="footer">
	        <ul>
	        UpYourMood
	        	<li>Nos offres</li>
	        	<li>Les fonctionnalités</li>
	        	<li>A propos</li>
	        </ul>
	        <ul>
	        Aide
	        	</li>Aide & Contact</li>
	        </ul>
	        <ul>
	        Legal
	        	<li>Données personnelles</li>
	        	<li>Mentions légales</li>
	        </ul>
	        <span id="copyright">
        	Copyright: 
        	<a href="mailto:kathibel@@gmail.com">Bel Kisialiova Katsiaryna</a>, 
        	<a href="mailto:pierre.burc@@gmail.com">Burc Pierre</a>, 
        	<a href="mailto:baptiste.colombani@@gmail.com">Colombani Baptiste</a>, 
        	<a href="mailto:loda.compagnie@@gmail.com">Duplouy Olivier</a>, 
        	<a href="mailto:tristan.seguin.feerik@@gmail.com">Tristan Seguin</a> 
        </span>
        </div>
    </body>
</html>
