@(title: String, sessionValues: SessionValues)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<h1>Up Your Mood</h1>
    	<ul id="menu">
    		<li class="sous_menu"><a href="@routes.ControlUser.index()">Inscription</a></li>
    		
    	</ul>
    	@if(!sessionValues.isConnected()){
    	<form method="post">
	    	<fieldset>
		   		<label for="pseudo">Pseudo:</label>
		       <input type="text" name="pseudo" id="pseudo" />*
		       <br>
		       <label for="mdp">Mot de passe:</label>
		       <input type="password" name="mdp" id="mdp" />*
		       <br>
		   </fieldset>
		   <input type="submit" value="Connexion" />
		</form>
		}else{
			<form method="post">
		  	 <input type="submit" value="Deconnexion" />
			</form>
		}
        @content
        <span id="copyright">
        	Copyright: Burc Pierre, Colombani Baptiste, Duplouy Olivier, Tristan Seguin 
        </span>
    </body>
</html>
